version: "3.7"

services:
  mc:
    container_name: mc
    image: itzg/minecraft-server:latest
    # restart: unless-stopped
    volumes:
      # use a named, managed volume for data volume
      - ./server:/data
      # attach local host directory "mods" in same directory as this compose file
      # all mods in this directory get copied into /data/mods at startup
      - ./mods:/mods:ro
    env_file: .env
    ports:
      # expose the Minecraft server port outside of container
      - 25565:25565

  backup:
    container_name: mc_backup
    image: quay.io/spesnova/dockup:latest
    stop_signal: SIGTERM
    volumes:
      - ./server:/server/server-data
    env_file: .env

#  restore:
#    image: quay.io/spesnova/dockup:latest
#    command: restore
#    volumes:
#      - ./server:/server/server-data
#    env_file: .env
